
body {
  font-family: Apple Chancery;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size : 22px;
  background-color: #F57327;
  color: #180A01;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin: 30px 0 20px 0;
  color: #180A01;
}

h2 {
  font-size: 1.5em;
  margin: 30px 0 20px 0;
  color: #180A01;
  border-bottom: 1px solid #180A01;
  padding-bottom: 5px;
}

a {
  color: #808080;
}

nav {
  background-color: #180A01;
  color: #FEEFE7;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  padding: 10px;
  gap: 1em;
}

nav li {
  display: inline;      
  margin-right: 1em;
}

nav a {
  padding: 10px 20px;
  color: #FEEFE7;
  text-decoration: none;
}

section {
  margin-left: 4em;
  margin-right: 4em;
}

footer {
   text-align: center;
   background-color: #FAB68F;
   padding: 2px;
   margin: 40px 0 40px 0;
}

ul {
  list-style-type: none;
  margin: 0 40px 0 20px;
  padding: 0;
}

img { 
  display: block;      
  margin: 10px 0 50px 0; 
  width: 200px;        
  height: auto; 
border-radius: 10px;
}

.phraseaccueil {
   text-align: center;
}
.phraseintro {
  color:  #FAB68F;
  margin: 40px 0 40px 0;
  margin-left: 4em;
}

.phraseintro-section {
  color:  #FAB68F;
  margin: 40px 0 40px 0;
}

.csl-bib-body {
line-height: 1.35;
}

.csl-entry {
margin-bottom: 1em;
}
