body {
  font-family: Apple Chancery;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size : 22px;
  background-color: #F57327;
  color: #180A01;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin: 30px 0 20px 0;
  color: #180A01;
}

h2 {
  font-size: 1.5em;
  margin: 40px 0 20px 0;
  color: #180A01;
  border-bottom: 1px solid #180A01;
  padding-bottom: 5px;
}

a {
  color: #808080;
}

nav {
  background-color: #180A01;
  color: #FEEFE7;
  display: flex;
  justify-content: center;
  gap: 100px  
}

nav li {
  display: inline;      
  margin-right: 1em;
}

nav a {
  padding: 12px;
  color: #FEEFE7;
  text-decoration: none;
}


section {
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
   text-align: center;
   background-color: #FAB68F;
   padding: 2px;
   margin: 40px 0 40px 0;
}

ul {
  list-style-type: none;
  margin: 0 40px 0 40px;
  padding: 0;
}

img { 
  display: block;      
  margin-left: 0;      
  margin-right: auto; 
  margin-top: 10px; 
  width: 200px;        
  height: auto; 
border-radius: 10px;
}

.phraseaccueil {
   text-align: center;
}
